<div class="p-3">

  <h1 class="btn btn-dark btn-block text-uppercase">Verantwortliche Person</h1>

  <ng-container *ngIf="mangel">

    <select [(ngModel)]="mangel.verantwortlicher"
            class="form-control">
      <!--    <option [ngValue]="getNewVerantw()">neu</option>-->
       <option *ngFor="let u of user" [ngValue]="u">{{u.firstName}} {{u.lastName}}</option>
     </select>

     <input class="form-control" placeholder="Name des neuen Verantwortlichen"
            *ngIf="mangel.verantwortlicher && !mangel.verantwortlicher.uid"
            [(ngModel)]="mangel.verantwortlicher.lastName"
     />



   </ng-container>


   <div class="fixed-bottom m-3">
     <a [routerLink]="['/mangel', 'erledigungsdatum']"
        [state]="{rundgang:rundgang,mangel:mangel}"
        class="btn btn-xlg  btn-block btn-primary text-uppercase">
       Weiter
     </a>
   </div>

 </div>

